################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CGOL/FileContentIndex
/.vs/CGOL/v17/ipch/AutoPCH
/.vs/CGOL/v17
/CGOL/Debug
/CGOL/Release
/Debug
/Release
/BoardEditor/Debug
/BoardEditor/Release
/FileDialogs/Release/FileDialogs.tlog/CL.read.1.tlog
/FileDialogs/Release/FileDialogs.tlog/FileDialogs.lastbuildstate
/FileDialogs/Release/FileDialogs.tlog/link.read.1.tlog
/FileDialogs/Release/dialogeventhandler.obj
/FileDialogs/Release/FileDialogs.iobj
/FileDialogs/Release/FileDialogs.ipdb
/FileDialogs/Release/opengglfile.obj
/FileDialogs/Release/savegglfile.obj
/FileDialogs/Release/vc143.pdb
/BoardEditor/x64/Debug
/CGOL/x64/Debug
/FileDialogs/Debug
/FileDialogs/x64/Debug
/x64/Debug
/FileDialogs/Release/FileDialogs.tlog
/FileDialogs/Release
